body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
.btn-custom {
	color: #ffffff;
	background-image: linear-gradient(180deg,#a3bb45,#86a11a);
	border: none;
	font-size: 14px;
	padding: 15px 25px;
}
.custom-headline{
    color: #fabe4c;
    display: block;
}

/* Header Section Styling */
.header-section{
    background-color: #fffbf0;
}
.logo{
    width: 200px;
}
.custom-navbar-nav>a{
    padding: 10px 20px !important;
    display: block;
}


.promo{
    padding: 50px 0;
}
.promo h1{
    font-size:90px;
}
.promo-text{
    padding-bottom:30px
}
/* Header Section Styling Ends */


/* Product Section Styling */
.product-section{
    margin-bottom: 75px;
}
.product-section h1 {
	margin: 30px 0 10px;
	padding: 0;
}

.shadow-box{
    border-radius: 20px;
    overflow: hidden;
}
.product-box .card {
	padding: 20px;
    overflow: hidden;
    border: none;
}
.product-box .image-box{
    background-color: #f1f1f1;
    overflow: hidden;
    border-radius: 10px;
    padding: 50px 0;
    text-align: center;
    min-height: 350px;
}

.card-body h5{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.card-body {
    padding: 10px 0;
}
.card-footer {
	background: transparent;
	border: navajowhite;
}
.card-footer span{
    color: #fabe4c;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
}

/* Product Section Styling Ends */



/* Promo2 Section Styling */
.promo2-section{}
.promo2-box{}
.promo2-box .inner-box{}
.promo2-box .box-content{
    border-radius: 20px;
}
.promo2-box .box-content img {
	height: 80px;
	margin: 20px;
}
.right-text {
	padding: 20px 100px 20px 0;
}
.right-text h4{
    font-family: 'Playfair Display', serif;
}
/* Promo2 Section Styling Ends */



/* Promo3 Section Styling */
.promo3-section{
    margin: 100px auto;
}
.promo3-section .inner-box{
    border-radius:10px;
    overflow: hidden;
}
.promo3-section a{
    padding: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size:40px
}

.promo3-section h4{
    color: #ffffff;
    font-size:36px;
    margin: 0;
}

.promo3-section i{
    transition: 500ms;
}

.promo3-section .inner-box:hover i{
transform: rotate(360deg);
}

/* Promo3 Section Styling Ends*/


/* Footer Section Styling */
footer{
    margin:100px auto 50px;
}
.bottom-links a{
    color: gray;
    border-right:1px solid rgba(0,0,0,0.5);
    padding: 0 10px;
    text-decoration: none;
}

.bottom-links a:last-child{
    border-right: none;
}


/* Footer Section Ends */







/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .logo{
        width:170px
    }
    .promo h1{
        font-size:50px;
    }
    .product-box .image-box{
        min-height: 180px;
    }
    .product-section h1 {
        text-align: center;
        font-size: 40px;
        margin: 30px 0 10px;
    }
    .product-section{
        margin-bottom: 30px;
    }
    .right-text {
        padding:  0;
    }
    .promo2-box .box-content{
        display: block !important;
        text-align: center;
        
    }
    .promo2-section .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .promo2-section .row div:last-child{
        margin:20px 0
    }

    .promo3-section{
        margin:30px 0;
    }

    .promo3-section h4,.promo3-section a{
        font-size:20px;
    }

    .promo3-section .row>div{
        width:47%;
        padding: 2%;
        margin: 1%;
    }
    .promo3-section a{
        padding: 20px 10px;
    }
 }

